<br><div class="container">
        <div class="text-center form-group" style="color: red">
                   
                <b><i>* represents Mandatory field</i></b>
            
        </div>
   <div class="jumbotron">
       
       <form id="form" #form="ngForm" autocomplete="off" >
          
               
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="jumbotron" style="background-color:#9ab7b7"> -->
                    <h2><b>PLANNED</b></h2><hr>

                    <div class="row ">
                        <div class="form-group form-inline">
                            <label for="planName" class="mr-4"><b>Plan Name<span style="color: red">*</span></b></label>
                            <input type="text" name="planName" id="planName" [(ngModel)]="plan" class="form-control" required >
                        </div>
                    </div>
                     
                    <!-- <div class="row" *ngIf="isPlanNull" class="error">
                        <div class="col-md-4 offset-md-2 form-group" style="color: red">
                                Field is required 
                        </div>
                       
                    </div> -->
        
                    
                    <div class="row ">
                            <div class="form-group form-inline">
                                <label for="section" class="mr-5"><b>Section<span style="color: red">*</span></b></label>
                                <input type="text" name="section" id="section" class="form-control" [(ngModel)]="section" required>
                            </div>
            
                    </div>
                   <div class="plan-len-qty">
                            <div class="row ">
                                    <div class="form-group form-inline">
                                        <label for="planLen" class="mr-5"><b>Length<span style="color: red">*</span></b></label>
                                        <input type="number" name="planLen" id="planLen" class="form-control col-md-2 mr-4 planLen" >
                                        <label for="planQty" class="mr-3"><b>Quantity<span style="color: red">*</span></b></label>
                                        <input type="number" name="planQty" id="planQty"  class="form-control col-md-2 mr-2 planQty" >
                                        <button class="btn btn-info" type="button" id="add"><b>+</b></button>
                                    </div>
                            </div>
                        </div>
                            <div class="lenQty form-group">

                            </div>
                     

            <!-- </div> -->
        </div>
            <div class="col-md-6">
                <!-- <div class="jumbotron" style="background-color: coral"> -->
                <h2><b>ACTUAL</b></h2><hr>
                <div class="act-len-qty">
                        <div class="row">
                                <div class="form-group form-inline">
                                    <label for="ActplanLen" class="mr-3"><b>Length<span style="color: red">*</span></b></label>
                                    <input type="number" name="ActplanLen" id="ActplanLen"   class="form-control col-md-2 mr-4 ActplanLen" > 
                                    <label for="ActplanQty" class="mr-3"><b>Quantity<span style="color: red">*</span></b></label>
                                    <input type="number" name="ActplanQty" id="ActplanQty"  class="form-control col-md-2 mr-2 ActplanQty" >
                                    <button class="btn btn-dark" type="button" id="actadd"><b>+</b></button>
                                </div>
                        </div>
                 </div>
                 <div class="actLenQty form-group"></div>
                <!-- </div> -->
            </div>
        </div>
        <div class="text-center form-group">
                <button class="btn btn-success mr-5" [disabled]=" form.invalid || buttonActivate" type="submit" id="submit">Submit</button>
                <button class="btn btn-danger" type="reset" id="reset">Reset</button>
            </div>
      
        </form>
  </div>

</div>
